body {
    font-family: Arial, Helvetica, sans-serif;
    height: 600px;
    overflow: hidden;
    color: white;
    margin: 0;
}

header {
    height: 10%;
}

header > div > h3 {
    margin: 0;
    padding-top: 3px;
}
.title {
    height: 50%;
}
.heading {
    display: flex;
    width: 100%;
    height: 50%;
}
.heading > h3 {
    text-align: center;
    background-color: rgb(73, 76, 78);
}
.heading > h3:first-child {
    width: 20%;
}
.heading > h3:last-child {
    width: 80%;
}

.content {
    height: 90%;
    display: flex;
}

.time-color-block {
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    background-color: rgb(48, 48, 48);
    text-align: center;
    overflow: auto;
}
.tasks-color-block {
    height: 100%;
    width: 80%;
    display: block;
}

.tasks {
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;
}

.task {
    display: flex;
    width: 100%;
    height: 10%;
	border-bottom:1px solid #525252;
}

.taskTime {
    display: block;
    width: 20%;
    height: 100%;
    text-align: center;
    background-color:transparent;
}
.taskTime > button {
    margin: 0;
    padding: 0;
    width: 100%;
}

.taskInfo {
    display: flex;
    width: 80%;
    height: 100%;
}
.taskInfo > button {
    width: 80%;
}


.taskInfo > button:hover {
    background-color:transparent;
}
.taskInfo > button:active {
	position:relative;
	top:1px;
}

.taskState {
    height: 100%;
    text-align: center;
    display: block;
    width: 20%;
    background-color: rgb(14, 14, 14);
    cursor: pointer;
}
.taskState > button {
    width: 100%;
}

button {
    display:block;
    height: 100%;
    background-color:transparent;
    border: none;
	color:#ffffff;
	font-family: monospace, sans-serif;
	font-size: 1rem;
    text-decoration:none;
    cursor: pointer;
}