body {
    font-family: Arial, Helvetica, sans-serif;
    height: 600px;
    overflow: hidden;
    margin: 0;
}

header {
    background-color: gray;
    height: 10%;
}

header > div > h3 {
    margin: 0;
    padding-top: 3px;
}
.title {
    height: 50%;
}
.heading {
    display: flex;
    width: 100%;
    height: 50%;
}
.heading > h3 {
    text-align: center;
}
.heading > h3:first-child {
    width: 20%;
    background-color: lightgray;
}
.heading > h3:last-child {
    width: 80%;
    background-color: lightpink;
}

.content {
    height: 90%;
    display: flex;
}

.hours-list {
    height: 100%;
    width: 20%;
    display: block;
    background-color: lightgray;
    text-align: center;
    
}

.timeblocks {
    height: 100%;
    width: 80%;
    display: block;
    background-color: lightpink;
}