body {
    font-family: Arial, Helvetica, sans-serif;
    height: 600px;
    overflow: hidden;
    margin: 0;
}

header {
    background-color: gray;
    margin: 0;
    height: 5%;
}

h3 {
    margin: 0;
}

.main {
    display: flex;
    text-align: center;
    height: 95%;
}


.heading {
    height: 5%;
}

.time {
    display: block;
    width: 20%;
    background-color: lightgray;
}


.hours-list {
    overflow: auto;
    height: 95%;
}

.timeblocks {
    display: block;
    width: 80%;
    background-color: lightpink;
}